@font-face {
  font-family: 'BebasNeue';
  src: url('../fonts/BebasNeue-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Regular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'SfUiText';
  src: url('../fonts/SFUIText-Regular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: optional;
}
